{% extends "components/base.html" %}
{% import "components/article.html" as article %}
{% import "components/full_header.html" as header %}
{% import "components/panels.html" as panels %}
{% import "components/footer.html" as footer %}

{% block content %}
  <link rel="stylesheet" href="/static/css/pages/home.css" type="text/css">

<!-- TODO: generate links by items on page, add additional links -->
  {{ additional_links.update({feature.name: feature.id,
                                 collection.name: collection.id,
                                 previews.name: previews.id }) | default(additional_links, true) }}

  {{ header.render(additional_links) }}
<!--                                     { "text": "Projects", "ref": "#projects"},-->
<!--                                     { "text": "Gallery",  "ref": "/gallery"},-->
<!--                                     { "text": "Links",    "ref": "#resources"},-->
<!--                                     { "text": "Private",  "ref": "/private"}]})-->

  {% if feature %}
    {{ article.render(feature) }}
  {% endif %}

  {% if preview %}
    {{ panels.render(preview) }}
  {% endif %}

  {% if collection %}
    {{ article.render(collection) }}
  {% endif %}

<!--{#  {{ footer.render() }} #}-->

{% endblock %}