{% extends "components/base.html" %}
{% import "components/article.html" as article %}
{% import "components/full_header.html" as header %}
{% import "components/panels.html" as panels %}
{% import "components/footer.html" as footer %}

{% macro add_link(links, new_link) %}
  {% if new_link %}
    {% do links.__setitem__(new_link.name, "#" ~ new_link.id) %}
  {% endif %}
{% endmacro %}

{% block content %}
  <link rel="stylesheet" href="/static/css/pages/home.css" type="text/css">
<!--  additional_links-->
  {% do add_link(additional_links, feature) %}
  {% do add_link(additional_links, preview) %}
  {% do add_link(additional_links, collection) %}

  {{ header.render(additional_links) }}
  {{ article.render(feature) if feature }}
  {{ panels.render(preview) if preview }}
  {{ article.render(collection) if collection }}
  {{ footer.render() if footer}}

{% endblock %}