<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Connor Keane</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/static/css/skeleton.css" type="text/css">
    <link rel="stylesheet" href="/static/css/custom.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.3.122/pdf.min.js" integrity="sha512-CGtesFWoCAxW8xV1S4wdev6uWmGhkEBtTGJsQLkT75ab0eVyx0RTOdGxHk9hFVV/OlF6ZyCoukfPdiZPpAiUtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>I
    <script src="/static/js/noise.js"></script>
    <script src="/static/js/background.js"></script>
    <script src="/static/js/navbar.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="parallax">
{% block header %}
    <h1 class="container section">Connor Keane Personal Website</h1>
{% endblock %}

{% block content %}
    <h1 class="container section">Hmm... There doesn't seem to be anything here.</h1>
{% endblock %}
</body>


</html>
