/* Project
------------------------------*/
.project-img {
    display: block;
    text-align: center;
    margin: 1rem auto 1rem;
}

/* Resources
------------------------------*/
.resources-list {
    padding: .5em 1em .5em 1em;
    text-indent: 0;
}

.resources-item {
    margin: 0;
}
