{% extends "components/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_field_without_label %}

{% block header %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/src/staticges/login.css" type="text/css">
<div id="login" class="container center">
  <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    {{ login_user_form.hidden_tag() }}
    {{ render_field(login_user_form.email, class_="four columns offset-by-four") }}
    {{ render_field(login_user_form.password, class_="four columns offset-by-four") }}
    {{ render_field_without_label(login_user_form.submit, class_="button-primary two columns offset-by-five") }}
  </form>
</div>
{% endblock %}
