<div id="header" class="container section header">
  <script src="/static/js/navbar.js"></script>

  <h1 class="section-heading">Connor Keane Personal Website</h1>


  <div class="container">
    <div class="navbar-spacer"></div>
    <div class="navbar">
      <ul class="navbar-list">

        {% for ref, text in link_list %}
          <li class="navbar-item"><a href="{{ ref }}" class="navbar-link">{{ text }}</a></li>
        {% endfor %}

        <li id="back-to-top" class="navbar-item"><button onclick="navbar.scrollToTop()" class="button-primary" title="Back to Top">Top</button></li>
      </ul>
    </div>
  </div>
</div>