{% macro render(link_dict) %}
  <div class="container">
    <div id="header" class="section header">
      <h1 class="section-heading">Connor Keane Personal Website</h1>

      <div class="container navbar">
        <ul class="navbar-list">

          {% for text, ref in link_dict.items() %}
            <li class="navbar-item"><a href="{{ ref }}" class="navbar-link">{{ text }}</a></li>
          {% endfor %}

          <li id="back-to-top" class="navbar-item"><button onclick="navbar.scrollToTop()" class="button-primary" title="Back to Top">Top</button></li>
        </ul>

        <script src="/static/js/navbar.js"></script>
      </div>
    </div>
  </div>
{% endmacro %}