{% macro render(section) %}
<div class="container section">
    <div class="content u-full-width">
        <canvas id="{{section.id}}-canvas"></canvas>
        <script>
            $(() => new pdf.view('{{section.content}}', $('#{{section.id}}-canvas'), $('#{{section.id}}-next'), $('#{{section.id}}-prev')));
        </script>
        <br>
        <div id='{{section.id}}-controls' class="centered">
            <button id='{{section.id}}-prev' class="button button-primary">Prev</button>
            <button id='{{section.id}}-next' class="button button-primary">Next</button>
        </div>
    </div>
</div>
{% endmacro %}
